{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Koolawa Apps{% endblock %}</title>

    {% stylesheets '@KoolawaCoreBundle/Resources/public/css/*.css' filter='cssrewrite, yui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts '@KoolawaCoreBundle/Resources/public/js/*.js' filter='' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block head %}
    {% endblock %}
  </head>
  <body>

    {% block body %}
    {% endblock %}

  </body>
</html>
