.icon, .icon > span {
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.tabs, a.tabs > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/awn-settings.png) !important;
}

.icon-folder_48, a.icon-folder_48 > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/48x48/folder.png) !important;
}

.icon-empty, a.icon-empty > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/empty.png) !important;
}

.icon-empty_48, a.icon-empty_48 > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/48x48/empty.png) !important;
}

.icon-shared_22, a.icon-shared_22 > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/22x22/emblem-shared.png) !important;
}

.icon-paste, a.icon-paste > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/edit-paste.png) !important;
}

.icon-paste_48, a.icon-paste_48 > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/48x48/evolution-tasks.png) !important;
}

.icon-close, a.icon-close > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/window-close.png) !important;
}

.icon-cut, a.icon-cut > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/edit-cut.png) !important;
}

.icon-copy, a.icon-copy > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/edit-copy.png) !important;
}

.icon-copy-folder, a.icon-copy-folder > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/folder-copy.png) !important;
}

.x-grid-row.x-grid-tree-node-expanded .tree-folder {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/folder-open.png) !important;
}

.x-grid-row .tree-folder {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/folder.png) !important;
}

.x-grid-row .tree-undeletable {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/user-bookmarks.png) !important;
}

.icon-database, .x-grid-row .tree-database {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/text-x-sql.png) !important;
}

.icon-sql, a.icon-sql > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/text-richtext.png) !important;
}

.icon-save, a.icon-save > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/document-save.png) !important;
}

.icon-save-as, a.icon-save-as > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/document-save-as.png) !important;
}

.icon-open, a.icon-open > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/document-open.png) !important;
}

.icon-add, a.icon-add > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/list-add.png) !important;
}

.icon-refresh, a.icon-refresh > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/view-refresh.png) !important;
}

.icon-logout, a.icon-logout > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/system-log-out.png) !important;
}

.icon-delete, a.icon-delete > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/list-remove.png) !important;
}

.icon-run, a.icon-run > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/system-run.png) !important;
}

.icon-analyse, a.icon-analyse > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/document-properties.png) !important;
}

.icon-exit, a.icon-exit > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/application-exit.png) !important;
}

.icon-error, a.icon-error > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/dialog-error.png) !important;
}

.icon-home, a.icon-home > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/computer.png) !important;
}

.icon-user, a.icon-user > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/config-users.png) !important;
}

.icon-report, a.icon-report > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/text-xml.png) !important;
}

.icon-planning, a.icon-planning > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/evolution-calendar.png) !important;
}

.icon-export, a.icon-export > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/document-export.png) !important;
}

.icon-group-system, a.icon-group-system > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/applications-system.png) !important;
}

.icon-setting, a.icon-setting > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/16x16/preferences-desktop.png) !important;
}

.icon-save_22white, a.icon-save_22white > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/22x22/document-save-white.png) !important;
}

.icon-redo_22white, a.icon-redo_22white > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/22x22/edit-redo-white.png) !important;
}

.icon-undo_22white, a.icon-undo_22white > span {
    background-image: url(../../../bundles/koolawaapps/images/faenza/22x22/edit-undo-white.png) !important;
}

