#storagePanel
{
	border: 5px solid #157fcc;
}

.workzone_storage #storagePanel > div > div > div[data-ref="innerCt"]
{ 
	background-color:#ddd
}

.workzone_storage .x-panel-default-framed { border-color:#157fcc !important }
.workzone_storage .tab-menu > div > div > div[data-ref="innerCt"]
{
	background-color: #eee !important;
	border-top: 1px solid white;
	background-image:
	linear-gradient(
		to top, 
		#eeeeee, #f4f4f4
    );
}

.workzone_storage #storageMenu .x-tab-default-top:first-child
{
	background-color:#1065a3 !important;
	border-color:#1065a3 !important
}

.workzone_storage #storageMenu .x-tab-default-top.x-tab-active:first-child .x-tab-inner { color:white !important }

.workzone_storage .x-tab-bar-strip.fmenu { background-color: #1065a3 !important; border-color: #1065a3 !important; }

.workzone_storage .shortmenu{background-color:#4b9cd7}
.workzone_storage .shortmenu:hover{background-color:#5fa7db}
.workzone_storage .shortmenu:active{background-color:#add2ed}

.workzone_storage .filemenucontent #filemenu1 .filemenubutton.extendshot.x-btn-pressed:hover
{
	border:1px solid #157fcc !important;
	border-right:none !important;
	border-left:none !important
}

.workzone_storage .filemenucontent #filemenu1 .filemenubutton.extendshot.x-btn-pressed { background-color:#157fcc !important }

.workzone_storage .jspVerticalBar { background-color: #add2ed !important; }
.workzone_storage .jspTrack { background-color: #fff !important; }
.workzone_storage .jspDrag{ background-color: #4b9cd7 !important; }
.workzone_storage .jspArrow, .jspButton { background-color: #1065a3 !important; }
