#studioPanel
{
	border: 5px solid #532389;
}

.workzone_studio #studioPanel > div > div > div[data-ref="innerCt"]
{
	background-color: #ddd;
}

.workzone_studio .x-tool-img { background-color: #532389 !important; }

.workzone_studio .x-panel-default-framed { border-color: #532389 !important; }
.workzone_studio .tab-menu > div > div > div[data-ref="innerCt"]
{
	background-color: #eee !important;
	border-top: 1px solid white;
	background-image:
	linear-gradient(
		to top, 
		#eeeeee, #f4f4f4
    );
}

.workzone_studio #studioMenu .x-tab-default-top:first-child
{
	background-color:#312143 !important;
	border-color:#312143 !important
}

.workzone_studio #studioMenu .x-tab-default-top.x-tab-active:first-child .x-tab-inner { color: white !important; }

.workzone_studio.x-border-layout-ct, .workzone_studio .x-border-layout-ct { background-color: #5c308d !important; }
.workzone_studio .x-tab-bar { background-color: #532389 !important; }
.workzone_studio .x-tab-top { background-color: #5c308d !important; border-color: #5c308d !important; }
.workzone_studio .x-tab-bottom { background-color: #5c308d !important; border-color: #5c308d !important; }
.workzone_studio .x-tab-over { background-color: #805ca8 !important; border-color: #805ca8 !important; }
.workzone_studio .x-tab-active { background-color: #9d83bb !important; border-color: #9d83bb !important; }
.workzone_studio .x-tab-bar-strip { background-color: #9d83bb !important; border-color: #9d83bb !important; }
.workzone_studio .x-tab-bar-strip.fmenu { background-color: #312143 !important; border-color: #312143 !important; }

.workzone_studio .x-tab-active .x-tab-inner { color: #532389 !important; }

.workzone_studio .x-panel-header-default
{
    background-color: #532389 !important;
    border: 1px solid #532389 !important;
}

.workzone_studio .shortmenu { background-color: #5c308d; }
.workzone_studio .shortmenu:hover { background-color: #805ca8; }
.workzone_studio .shortmenu:active { background-color: #9d83bb; }

.workzone_studio .filemenucontent #filemenu1 .filemenubutton.extendshot.x-btn-pressed:hover
{
	border: 1px solid #532389 !important;
	border-right: none !important;
	border-left: none !important;
}

.workzone_studio .filemenucontent #filemenu1 .filemenubutton.extendshot.x-btn-pressed { background-color: #532389 !important; }
