body {
    background-image: url(../../../bundles/koolawaapps/images/workspace/color-splash.png) !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-size: 1000px 411px !important;
    background-color: #fff !important;
}
